.homePage {
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    &-body {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        &-svg {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &-block {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 93.1vh;
            width: 50%;

            img {
                position: absolute;
                right: 5%;
                bottom: 15%;
                z-index: 1000;
                width: 700px;
                object-fit: cover;
                object-position: center;
            }

            &-title {
                position: absolute;
                top: 35%;
                left: 10%;
                width: 70%;

                h1 {
                    font-size: 9em;
                    font-weight: 400;
                }

                h2 {
                    font-weight: 300;
                    font-size: 2em;
                }
            }
        }
    }

    &-header {
        position: relative;
        top: 0;
        width: 100%;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        animation: fromTopToBot 1s ease-in-out forwards;

        &-buttons {
            display: flex;
            align-items: center;

            p {
                font-size: 1.3em;
                font-weight: 500;

                span {
                    color: #6e00c8;
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                width: 50px;
                height: 50px;
                margin-bottom: 1em;
            }

            h1 {
                font-family: "Indie Flower", cursive;
                font-size: 2.5em;
                color: #000;
            }
        }
    }
}

@keyframes slideinDesktop {
    from {
        opacity: 0;
        left: 0%;
    }

    to {
        opacity: 1;
        left: 10%;
    }

}

@keyframes slideinSmartPhone {
    from {
        opacity: 0;
        left: 40%;

    }

    to {
        opacity: 1;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes fromTopToBot {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1515px) {
    .homePage {
        &-body {
            &-block {
                &-title {
                    animation: slideinDesktop 1s ease-in-out forwards;
                    top: 30%;

                    h1 {
                        font-size: 7em;
                    }

                    h2 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1514px) and (min-width: 1355px) {
    .homePage {
        &-body {
            &-block {
                &-title {
                    animation: slideinDesktop 1s ease-in-out forwards;
                    top: 40%;

                    h1 {
                        font-size: 6em;
                    }

                    h2 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1355px) and (min-width: 960px) {
    .homePage {
        &-body {
            &-block {
                img {
                    width: 500px;
                    bottom: 20%;
                }

                &-title {
                    animation: slideinDesktop 1s ease-in-out forwards;
                    top: 40%;

                    h1 {
                        font-size: 4em;
                    }

                    h2 {
                        font-size: 1.5em;
                    }
                }
            }
        }

        &-header {
            &-buttons {
                p {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .homePage {
        &-body {
            flex-direction: column;

            &-block {
                width: 100%;
                align-self: center;

                img {
                    width: 400px;
                    top: 0;
                }

                &-title {
                    top: 20%;
                    left: 50%;
                    width: 100%;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    animation: slideinSmartPhone 1s ease-in-out forwards;

                    h1 {
                        font-size: 2em;
                        text-align: center;
                    }

                    h2 {
                        font-size: 1.5em;
                        text-align: center;
                    }
                }

                &:first-child {
                    height: max-content;
                    min-height: 32rem;
                }

                &:last-child {
                    min-height: 356px;
                }
            }
        }

        &-header {
            &-buttons {
                p {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .homePage {
        &-body {
            &-block {
                &-title {
                    animation: slideinSmartPhone 1s ease-in-out forwards;

                    h1 {
                        text-align: center;
                    }
                    h2 {
                        text-align: center;
                    }
                }

                img {
                    width: 300px;
                }
            }
        }

        &-header {
            &-title {
                h1 {
                    font-size: 2em;
                }
            }

            &-buttons {
                p {
                    display: none;
                }
            }
        }
    }
}
