.tasks {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    
    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        width: 100%;
        border-radius: 7px;
        font-size: 1.1em;
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .4);
        background-color: #fff;
        padding: .5em;

        &-assigned {
            font-size: .8em;
            color: #aaa;
            align-self: flex-end;
            margin: 0 .5em 0 0;
            font-style: italic;

            span {
                font-weight: bold;
            }
        }

        &-main {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &-label {
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            height: 100%;
            width: 15px;
            position: absolute;
            left: 0;
            top: 0;
        }

        p {
            margin: 0 0 0 .8em;
            display: none;
        }

        .show {
            display: flex !important;
        }
    }
}

.task {
    &-menu {
        
        &-form {
            display: none;

            .input {
                width: 140px;
            }
        }
    }
}
