.tasks {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em 0;
        position: relative;
        width: 100%;
        border-radius: 7px;
        font-size: 1.1em;
        cursor: pointer;
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .4);
        background-color: #fff;
        padding: .5em;
        transition: .3s;

        p {
            margin: 0;
            display: none;
        }

        .show {
            display: flex !important;
        }
    }
}

.task {
    &-menu {
        
        &-form {
            display: none;

            .input {
                width: 140px;
            }
        }
    }
}
