.taskupdate {
    display: flex;
    flex-direction: column;

    textarea {
        width: 50%;
        margin: 1em auto;
        align-self: center;
    }

    button {
        width: 150px;
        align-self: flex-end;
        margin-top: 1em;
    }

    &-title {
        text-align: center;
    }
}
