.workspace {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    

    &-menu {
        border-radius: 5px;
    }

    &-body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;

        .ui.labeled.icon.button,
        .ui.labeled.icon.buttons .button {
            position: unset;
        }

        &-header {
            display: flex;
            width: 100%;
            
            &-input {
                margin-left: 2em !important;
            }

            &-menuBtn {
                margin-right: 2em !important;
            }

            &-members {
                display: flex;
                position: absolute;
                top: 1em;
                right: 1em;
                width: 20rem;
                justify-content: space-between;
            }
        }

        &-invitation {
            margin-left: 2em !important;
        }

        &-lists {
            width: 70%;
            align-self: center;
            height: 400px;
            margin-top: 6em;
            display: flex;
        }
    }
}

.container {
    display: flex;
}

.sideActionMenu {
    color: black;
    width: 20%;
    height: 100%;
    overflow: auto;
    background-color: #FDFDFD;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    border-radius: 3px;

    &-title {
        align-self: center;
        margin: 0;
    }

    &-actions {
        display: flex;
        justify-content: space-between;
    }

    &-subTitle {
        font-size: 1.3em;
        align-self: center;
        margin: 0;
    }
}
