.workspace {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    &-body {
        width: 100%;
        margin-top: 2em;
        padding: 1em;

        .ui.labeled.icon.button,
        .ui.labeled.icon.buttons .button {
            position: unset;
        }
    }
}
