/**
 * Import
 */

html {
    min-height: 100vh;
    font-size: 14px;
}

body {
    min-height: 100vh;
    font-family: 'Roboto',
        sans-serif;
}


#root {
    display: flex;
    flex-direction: column;
}
