@import "../../styles/vars";

.workmenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    &-tabs {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        overflow: auto;
        padding: 1em;
    }

    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background-color: rgba(0, 0, 0, .2);
        align-items: center;

        &-title {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 0 0 1em 0;

            h1 {
                margin: .7em 0 0 0;
                color: white;
                font-family: 'Indie Flower',
                    cursive;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2em;
            }

            &-logo {
                width: 50px;
                height: 50px;
            }

            &:hover {
                h1 {
                    text-decoration: underline;
                }
            }
        }
    }

    &-body {
        width: 60%;
        margin: 3em auto;
        display: flex;

        &-menu {
            display: flex;
            flex-direction: column;
        }

        &-tabs {
            margin: 5em auto;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 3em;

            &-alert {
                text-align: left;
                align-self: flex-start;
            }

            &-header {
                display: flex;
                align-self: flex-start;
            }

            &-title {
                align-self: flex-start;
                display: flex;
                margin: 0 3em 0 0;
                justify-content: space-between;
            }
        }
    }
}


.modal {
    &-list {
        display: flex;
        overflow-x: auto;
        max-width: 300px;

        &__item {
            margin: 1em;
            cursor: pointer;
            box-shadow: 0 2px 4px  rgba(0, 0, 0, 1);
            height: 100px;
            transition: .3s ease-in-out;

            &:hover {
                box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &-header {
        background-color: $background-color;
        width: 100%;
        padding: 1em;
        border-radius: 5px 5px 0 0;
    }

    &-error {
        color: red
    }

    &-content {
        width: 100%;
        background-color: $white;
        padding: 1em;
    }

    &-actions {
        width: 100%;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        border-radius: 0 0 5px 5px;
    }

    &-img {
        width: 100px;
        height: 100px;
    }
}

.img-selected {
    box-shadow: 0 0 0 5px $selected;
}

.black {
    color: black !important;
}

@media screen and (max-width: 967px) {
    .workmenu {
        &-header {
            &-nav {
                display: none;
            }
        }

        &-body {
            &-tabs {
                &-header {
                    flex-direction: column;
                    align-self: center;
                }

                &-title {
                    margin: 1em 0;
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .modal {
        &-body {
            overflow-y: 'auto';
            max-height: 400px;
        }
    }
    .workmenu {
        &-header {
            padding: .5em 0;
            justify-content: space-between;

            &-title {
                h1 {
                    font-size: 1.3em;
                }
            }
        }

        &-tabs {
            margin: 0 auto;
            max-width: 310px;
            flex-direction: column;
            flex-wrap: nowrap;
            align-self: center;
        }

        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &-tabs {
                margin-left: 0;
                align-items: center;
                width: 100%;

                &-title {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: max-content;
                    align-self: center;
                }
            }
        }
    }
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

div,
p,
h1,
h2,
h3,
h4,
time {
    line-height: 1.4em;
}
