.workmenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    &-svg {
        position: absolute;
        left: -10em;
        bottom: 6em;
        z-index: -1;
        width: 90%;
        height: 90%;
    }

    &-tabs {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        overflow: auto;

        &-item {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 1em;
            transition: .3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            cursor: pointer;

            &-delete {
                position: absolute;
                top: .3em;
                right: .3em;
                z-index: 100;
                font-size: 1.5em;
                font-weight: bold;
                transition: .3s;

                &:hover {
                    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
                    transform: scale(1.1);
                    transition: .3s;
                }
            }

            &:hover {
                box-shadow: 0 0 0 5px rgba(42, 191, 236, .5);
                transition: .3s
            }

            &-title {
                font-family: 'Indie Flower', cursive;
                position: absolute;
                bottom: 0;
                z-index: 100;
                color: white;
                width: 100%;
                padding: .5em;
                text-align: center;
                background-color: rgba(20, 20, 20, 0.2);
                backdrop-filter: blur(4px);
                margin: 0;
            }

            &-img {
                width: 200px;
                height: 200px;
                position: absolute;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background-color: rgba(0, 0, 0, .2);
        align-items: center;

        .ui.button {
            color: white !important;
            background-color: rgba(42, 191, 236, 0.5);
            transition: .3s;

            &:hover {
                background-color: rgba(37, 168, 207, .5);
                transition: .3s;
            }

            &:focus {
                background-color: rgba(37, 168, 207, .5);
            }
        }

        &-title {
            cursor: pointer;
            display: flex;
            align-items: center;

            h1 {
                margin: .7em 0 0 0;
                color: white;
                font-family: 'Indie Flower',
                    cursive;
                text-transform: uppercase;
                font-weight: 700 !important;
            }

            &-logo {
                width: 50px;
                height: 50px;
            }

            &:hover {
                h1 {
                    text-decoration: underline;
                }
            }
        }

        &-nav {
            .ui.icon.button {
                color: white !important;
                background-color: rgba(42, 191, 236, 0.5);
                transition: .3s;

                &:hover {
                    background-color: rgba(37, 168, 207, .5);
                    transition: .3s;
                }
            }
        }
    }

    &-body {
        width: 60%;
        margin: 3em auto;
        display: flex;

        .white {
            color: white !important;
        }

        &-menu {
            display: flex;
            flex-direction: column;

            .ui.basic.button {
                color: black !important;
                width: 150px;
                display: flex;
                justify-content: left;
                text-transform: capitalize;
                margin: .3em 0;
            }
        }

        &-tabs {
            margin: 5em auto;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 3em;

            &-title {
                align-self: flex-start;
                width: 400px;
                display: flex;
                justify-content: space-between;

                .ui.button {
                    background-color: rgba(42, 191, 236, 1) !important;
                    color: white !important;

                    &:hover {
                        background-color: rgba(8, 160, 206, 1) !important;
                    }
                }
            }
        }
    }
}


.modal {
    &-list {
        display: flex;
        flex-wrap: wrap;

        &__item {
            margin: 1em;
            cursor: pointer;
        }
    }

    &-img {
        width: 100px;
        height: 100px;
    }
}

.img-selected {
    box-shadow: 0 0 0 5px #08A0CE;
}

.black {
    color: black !important;
}


@media screen and (max-width: 768px) {
    .workmenu {
        &-header {
            padding: 1em 0;
            &-title {
                h1 {
                    font-size: 1.3em;
                }
                img {
                    display: none;
                }
            }
        }
        &-tabs {
            margin: 0 auto;
        }
        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-tabs {
                margin-left: 0;
                align-items: center;
                &-title {
                    margin-left: 1em;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: max-content;
                    align-self: center;
                }
            }
        }
    }
}
