.form {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    align-items: center;
    border-radius: 15px;

    .login {
        height: 200px;
    }

    .signup {
        height: 378px;
    }

    &-group {
        display: flex;
        flex-direction: column;
        width: 70%;
        transition: 0.4s all ease-in-out;
        overflow: hidden;
    }

    &-img {
        width: 130px;
        height: 80px;
        object-fit: cover;
        object-position: center;
    }

    &-links {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    &-title {
        z-index: 100;
        width: max-content;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: space-around;
        background-color: #6E00C8;
        width: 100%;
        border-radius: 15px 15px 0 0;
        padding: 2em 0;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1367px) {
}

@media only screen and (max-width: 1366px) and (min-width: 1081px) {
    .form {
        &-title {
            font-size: 0.7em;
            margin: 0 0 1em 0;

            .right {
                left: 59%;
                transition: 0.5s;
            }
        }
    }
}

@media only screen and (max-width: 1080px) and (min-width: 767px) {
    .form {
        &-title {
            font-size: 0.7em;
            margin: 0 0 1em 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .form {
        height: 100%;

        &-title {

            &-clickable {
                font-size: 2em;
                width: 150px;
            }
        }
    }
}
