.form {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 2em;
    align-items: center;
    border-radius: 15px;
    transition: .4s;

    &-img {
        width: 200px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    &-btn {
        font-size: 1.2em !important;
        width: 300px;
        margin-top: 1em !important;
    }

    &-link {
        text-align: left;
        cursor: pointer;
        width: 300px;
        color: #1e70bf;

        &:hover {
            text-decoration: underline;
        }
    }

    &-label {
        width: 80%;
        font-size: 1.2em;
    }

    &-alt {
        display: flex;

        &-btn {
            width: 300px;
            z-index: 10;
            display: flex !important;
            align-items: center !important;
            font-size: 1.2em !important;
            text-align: center !important;
            justify-content: space-around !important;
        }
    }

    &-title {
        font-family: "Indie Flower", cursive;
        z-index: 100;
        width: max-content;
        text-align: center;
        margin: 0 0 1em 0;
        text-transform: uppercase;
        font-weight: 700;
        align-items: center;

        position: relative;
        display: flex;

        &-login {
            color: #1f1f1f;
            font-size: 4em;
            font-family: "Indie Flower", cursive;
            cursor: pointer;
            width: 300px;
            transition: 0.3s;
            margin-right: 0.5em;
            text-align: center;
            margin-bottom: 0;

            &:hover {
                color: #107ac0;
            }
        }

        &-signup {
             color: #1f1f1f;
            font-size: 4em;
            font-family: "Indie Flower", cursive;
            cursor: pointer;
            margin-left: 0.5em;
            width: 300px;
            transition: 0.3s;
            text-align: center;

            &:hover {
                color: #107ac0;
            }
        }

        &-underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 300px;
            background-color: #107ac0;
            transition: 0.5s;
        }
    }

    &-input {
        width: 80%;
        margin: 1em 0;

        .label {
            font-size: 0.8em !important;
            border-color: #00192d !important;
            width: 70px !important;
            transform: rotate(-45deg);
            color: white !important;

            &::after {
                transform: rotate(45deg);
                top: -4px !important;
                left: 2px !important;
            }
        }

        input {
            font-size: 1.5em;
        }
    }

    p {
        color: #222 !important;
        z-index: 10;
        font-size: 1.1em;
        margin: 2em 0;
    }
}

.active-title {
    color: #107ac0;
}

.right {
    left: 54%;
    transition: 0.5s;
}

@media only screen and (max-width: 1920px) and (min-width: 1367px) {
}

@media only screen and (max-width: 1366px) and (min-width: 1081px) {
    .form {
        &-title {
            font-size: 0.7em;
            margin: 0 0 1em 0;

            .right {
                left: 59%;
                transition: 0.5s;
            }

            &-underline {
                width: 210px;
                left: 3.3em;
            }
        }

        &-label {
            font-size: 1.1em;
        }

        &-input {
            input {
                font-size: 1.2em;
            }
        }
    }
}

@media only screen and (max-width: 1080px) and (min-width: 767px) {
    .form {
        &-title {
            font-size: 0.7em;
            margin: 0 0 1em 0;

            .right {
                left: 56.5%;
                transition: 0.5s;
            }

            &-underline {
                width: 220px;
                left: 3.5em;
            }
        }

        &-label {
            font-size: 1.1em;
        }

        &-input {
            input {
                font-size: 1.2em;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .form {
        height: 100%;

        &-input {
            width: 100%;
        }

        &-title {
            &-login {
                font-size: 2em;
                width: 150px;
            }

            .right {
                left: 56.5%;
                transition: 0.5s;
            }

            &-underline {
                width: 140px;
                left: 0.3em;
            }

            &-signup {
                font-size: 2em;
                width: 150px;
            }
        }
    }
}
