.forgotPass {
    margin: 2em auto;
    display: flex;
    flex-direction: column;

    &-form {
        display: flex;
        flex-direction: column;
    }

    &-back {
        cursor: pointer;
        color: #0071ce;

        &:hover {
            text-decoration: underline;
        }
    }

    &-submit {
        align-self: center;
        margin-top: 3em;
    }
}
